<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Face Recognition System</h1>
        <div class="menu">
            <a href="/register" class="button">Register New Member</a>
            <a href="/recognize" class="button">Recognize Face</a>
        </div>
    </div>
</body>
</html>